<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head') %>
    <title>Jorgelina Parkinson - LOGIN</title>
    <link rel="stylesheet" href="/css/aboutContact.css">
</head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>

    <main>
        <h1>About.</h1>  
        <div class="container">
            <img src="/images/jorgelina.jpg" alt="JP" width="300">
            <p class="cv">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatibus incidunt numquam corrupti eos tenetur reprehenderit odit vitae repellat, a, alias eveniet nostrum molestiae iusto? Quibusdam eius non obcaecati doloremque! 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium magni pariatur, ipsa optio accusamus id soluta recusandae. Odit dignissimos minus deserunt repudiandae corrupti, quos, veritatis voluptatem quidem fugiat iure a.
            </p>
        </div>      
    </main>






    <footer>
        <%-include('../partials/footer') %>
    </footer>
    
</body>
</html>